Memory leaks in Mobicents Sip stack

Original issue URL from Google Code:

https://code.google.com/p/sipservlets/issues/detail?id=271&colspec=ID%20Status%20MSS%20Summary

REGISTER sessions needs to be invalidated by the application otherwise they stay in INITIAL state.

JSR 289 States in Section 6.2.1 Relationship to SIP Dialogs

"
...
2. In general, whenever a non-dialog creating request is sent or received, the SipSession state remains unchanged. Similarly, a response received for a non-dialog creating request also leaves the SipSession state unchanged. The exception to the general rule is that it does not apply to requests (e.g. BYE, CANCEL) that are dialog terminating according to the appropriate RFC rules relating to the kind of dialog.
...
"

The rationale for that is explained in the same section :
"
...
The INITIAL state is introduced to allow a UAC to generate multiple requests with the same Call-ID, From (including tag), and To (excluding tag), and within the same CSeq space. This is useful, for example, in the following situations:
...
* REGISTER requests sent from a UAC to the same registrar should all use the same
Call-ID header field value and should increment the CSeq by one for each request sent [RFC 3261, section 10.2].
...
"

Actually the setInvalidateWhenReady flag should control my previous comment. 